---
layout: "page"
---

<style>
    :root {
        --header-bg: rgb(57, 33, 105);
    }
    html {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'FntMain', Arial, sans-serif;
        /* font-weight: 400; */
        /* font-style: normal; */
        background-color: #111;
        background-image: url('{{ "/sSpaceBG.png" | relative_url }}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #fff;
    }
    a {
        color: #fff;
        text-decoration-color: rgba(255, 255, 255, 0.6);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'FntMain', Arial, sans-serif;
        color: #fff !important;
        font-weight: normal;
        margin: 0;
    }
    .fntmain-font {
        font-family: 'FntMain', Arial, sans-serif !important;
    }
    header {
        background-color: rgb(57, 33, 105) !important;
        font-size: 1.5em;
    }

    .threshold-content {
        color: #fff;
        font-size: 1.5em;
    }

    .threshold-content :where(h1, h2, h3, h4, h5, h6) {
        text-shadow:
          0 0 8px #00aaff
    }

    .threshold-content a:hover {
        text-decoration-color: rgba(255, 255, 255, 0.9);
    }

    .threshold-content img,
    .threshold-content video,
    .threshold-content canvas,
    .threshold-content svg {
        filter: none !important;
    }
    .header-logo-wrapper {
        filter: none !important;
    }
</style>

<div class="threshold-content">
{{ content }}
</div>
